<div class="container">
  <div class="left">
    <div class="links">
      <p><a href="{{ linkedinLink }}" class="link">linkedin</a></p>
      <p><a href="{{ githubLink }}" class="link">github</a></p>
    </div>
    <div class="name-container">
      <!-- Text -->
      <p class="name">Matilda Snail</p>
    </div>
    </div>
  <div class="content">
        <!-- Image with rounded corners -->
    <img src="assets\images\IMG_2882.jpeg" alt="Image" class="image">
  </div>
</div>

<router-outlet />
